<!DOCTYPE HTML> 
<html> 
	<head> 
		<title>Sign-In</title> 
		<link rel="stylesheet" type="text/css" href="css/login.css">
		<script type="text/javascript" src="js/login.js"></script>		
	</head> 
	<h2>Road Trip Buddy Sign-In</h2>
	<body id="body-color"> 
		<div class="login">
			<input type="text" placeholder="Username" id="username">
			<input type="password" placeholder="Password" id="password">
			<input type="button" value="Sign In" id="submit">
		</div>
 	</body> 
</html> 